.sidebar-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10 20;
}

.sidebar-button:hover {
    -fx-background-color: #2e5a7f;
}

.admin-header {
    -fx-font-size: 32px;
    -fx-text-fill: #333;
}

.sidebar-exit {
    -fx-background-color: #bf331e;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10 20;
}

.sidebar-exit:hover {
    -fx-background-color: #d73922;
}

.vBox{
    -fx-background-color: #e7ecf0;
    -fx-padding: 20px;
}