.sidebar-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10 20;
}

.sidebar-button:hover {
    -fx-background-color: #3c607a;
}

.prof-header {
    -fx-font-size: 32px;
    -fx-text-fill: #333;
}

.sidebar-exit {
    -fx-background-color: #a72c20;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10 20;
}

.sidebar-exit:hover {
    -fx-background-color: #bc3124;
}

.vBox{
    -fx-background-color: #e7ecf0;
    -fx-padding: 20px;
}
#gMensagemSucesso{
    -fx-background-color: #2e4a5f;
    -fx-background-radius: 10px;
}